.q {
  zoom: 1;
}
.q:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  padding: 10px 0;
  margin: 0 auto;
  /*overflow:hidden;*/
}
h1.big-title {
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
/**面包屑样式**/
.crumbs {
  padding: 30px 10px 10px;
  font-size: 24px;
  border-bottom: 2px dashed #aaa;
  margin: 15px;
}
.crumbs a {
  text-decoration: none;
  color: #666;
}
.crumbs em {
  font-style: normal;
  padding: 0 5px;
  font-size: 30px;
  line-height: 100%;
}
.crumbs span {
  font-size: 30px;
  color: #444;
}
/**学习列表样式**/
dl.panel {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
}
dl.panel dt.panel-heading {
  font-family: '隶书';
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  padding: 10px;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
dl.panel dt.panel-heading a {
  text-decoration: none;
}
dl.panel dt.panel-heading em {
  text-transform: none;
  font-style: normal;
}
dl.panel dd.panel-body {
  margin: 0 0 30px;
  padding: 20px 20px 5px;
}
dl.panel dd.panel-body span {
  display: inline-block;
  padding: 0 10px 15px;
}
dl.panel dd.panel-body a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  font-family: "微软雅黑";
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
dl.panel.css-panel {
  border-color: #2e93d9;
}
dl.panel.css-panel dt.panel-heading {
  background-color: #3B9ADB;
  border-color: #3B9ADB;
  color: #fff;
}
dl.panel.css-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.css-panel dd.panel-body a {
  color: #13476a;
}
dl.panel.css-panel dd.panel-body a:hover {
  color: #51a5df;
}
dl.panel.css3-panel {
  border-color: #0067ab;
}
dl.panel.css3-panel dt.panel-heading {
  background-color: #0070BA;
  border-color: #0070BA;
  color: #fff;
}
dl.panel.css3-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.css3-panel dd.panel-body a {
  color: #001421;
}
dl.panel.css3-panel dd.panel-body a:hover {
  color: #007fd3;
}
dl.panel.sass-panel {
  border-color: #c85b91;
}
dl.panel.sass-panel dt.panel-heading {
  background-color: #CC6699;
  border-color: #CC6699;
  color: #fff;
}
dl.panel.sass-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.sass-panel dd.panel-body a {
  color: #73264d;
}
dl.panel.sass-panel dd.panel-body a:hover {
  color: #d279a6;
}
dl.panel.bootstrap-panel {
  border-color: #5a427f;
}
dl.panel.bootstrap-panel dt.panel-heading {
  background-color: #614789;
  border-color: #614789;
  color: #fff;
}
dl.panel.bootstrap-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.bootstrap-panel dd.panel-body a {
  color: #1a1324;
}
dl.panel.bootstrap-panel dd.panel-body a:hover {
  color: #6d509a;
}
dl.panel.less-panel {
  border-color: #1f3e69;
}
dl.panel.less-panel dt.panel-heading {
  background-color: #234575;
  border-color: #234575;
  color: #fff;
}
dl.panel.less-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.less-panel dd.panel-body a {
  color: #000000;
}
dl.panel.less-panel dd.panel-body a:hover {
  color: #295189;
}
dl.panel.html5-panel {
  border-color: #f05b1a;
}
dl.panel.html5-panel dt.panel-heading {
  background-color: #F16528;
  border-color: #F16528;
  color: #fff;
}
dl.panel.html5-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.html5-panel dd.panel-body a {
  color: #782a08;
}
dl.panel.html5-panel dd.panel-body a:hover {
  color: #f37640;
}
dl.panel.xml-panel {
  border-color: #4abb8a;
}
dl.panel.xml-panel dt.panel-heading {
  background-color: #55BF91;
  border-color: #55BF91;
  color: #fff;
}
dl.panel.xml-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.xml-panel dd.panel-body a {
  color: #225941;
}
dl.panel.xml-panel dd.panel-body a:hover {
  color: #68c69d;
}
dl.panel.html-panel {
  border-color: #e24d25;
}
dl.panel.html-panel dt.panel-heading {
  background-color: #E45833;
  border-color: #E45833;
  color: #fff;
}
dl.panel.html-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.html-panel dd.panel-body a {
  color: #6f230f;
}
dl.panel.html-panel dd.panel-body a:hover {
  color: #e76a4a;
}
dl.panel.jquery-panel {
  border-color: #075f9d;
}
dl.panel.jquery-panel dt.panel-heading {
  background-color: #0868AC;
  border-color: #0868AC;
  color: #fff;
}
dl.panel.jquery-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.jquery-panel dd.panel-body a {
  color: #01101a;
}
dl.panel.jquery-panel dd.panel-body a:hover {
  color: #0977c4;
}
dl.panel.javascript-panel {
  border-color: #e6ba07;
}
dl.panel.javascript-panel dt.panel-heading {
  background-color: #F5C607;
  border-color: #F5C607;
  color: #fff;
}
dl.panel.javascript-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.javascript-panel dd.panel-body a {
  color: #604e03;
}
dl.panel.javascript-panel dd.panel-body a:hover {
  color: #f9cd1d;
}
dl.panel.IDE-panel {
  border-color: #f08f00;
}
dl.panel.IDE-panel dt.panel-heading {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
}
dl.panel.IDE-panel dt.panel-heading a {
  color: #fff;
}
dl.panel.IDE-panel dd.panel-body a {
  color: #663d00;
}
dl.panel.IDE-panel dd.panel-body a:hover {
  color: #ffa21a;
}
/**页面代码展示**/
.code-area {
  overflow: hidden;
  margin: 15px 5px;
}
.code-title {
  line-height: 30px;
  height: 30px;
  padding: 0px 10px;
}
.code-body {
  position: relative;
  overflow-y: auto;
}
.code-number {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  padding: 0 0 20px;
  margin: 0;
}
.code-number li {
  font: bold 12px/30px Arial;
  height: 30px;
  width: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.code-body-inner {
  overflow-x: auto;
  padding: 0px;
}
.code-body-inner .pre-code {
  line-height: 30px;
  margin: 0 10px 0 0;
  padding: 0 0 20px 10px;
  font-family: "Courier New";
  border: 0px;
  font-size: 18px;
  background-color: transparent;
}
.code-body-inner .note {
  font-style: italic;
}
/**页面代码展示颜色 skin-1**/
.code-skin-1 {
  border: 1px solid #ccc;
}
.code-skin-1 .code-title {
  border-bottom: 2px solid #ccc;
  background-color: #ddd;
}
.code-skin-1 .code-number {
  border-right: 3px solid green;
  background-color: #eee;
}
.code-skin-1 .code-number li {
  color: #5091af;
}
.code-skin-1 .code-body-inner {
  background-color: #eee;
}
.code-skin-1 .pre-code {
  color: #333;
}
.code-skin-1 .pre-code .note {
  color: #aaa;
}
/**页面代码展示颜色 skin-2**/
.code-skin-2 .code-title {
  border-bottom: 0px solid #1F83D8;
  background-color: #31322C;
  color: #C1C1BF;
}
.code-skin-2 .code-number {
  background-color: #272822;
}
.code-skin-2 .code-number li {
  color: #8F908A;
}
.code-skin-2 .code-body-inner {
  background-color: #49483E;
}
.code-skin-2 .pre-code {
  color: #DCDCCC;
}
.code-skin-2 .pre-code .note {
  color: #888;
}
/**页面代码展示颜色 skin-3**/
.code-skin-3 {
  border: 1px solid #26435C;
}
.code-skin-3 .code-title {
  border-bottom: 0px solid #26435C;
  background-color: #33424F;
  color: #B6BFB0;
}
.code-skin-3 .code-number {
  background-color: #002240;
  border-right: 2px solid #26435C;
}
.code-skin-3 .code-number li {
  color: #7F909F;
}
.code-skin-3 .code-body-inner {
  background-color: #002240;
}
.code-skin-3 .pre-code {
  color: #9DF39F;
}
.code-skin-3 .pre-code .note {
  color: #555;
}
/**页面代码展示颜色 skin-4**/
.code-skin-4 {
  border: 1px solid #342C28;
}
.code-skin-4 .code-title {
  border-bottom: 0px solid #26435C;
  background-color: #45413F;
  color: #B9BFBE;
}
.code-skin-4 .code-number {
  background-color: #2A211C;
  border-right: 2px solid #40362F;
}
.code-skin-4 .code-number li {
  color: #73685C;
}
.code-skin-4 .code-body-inner {
  background-color: #3A312C;
}
.code-skin-4 .pre-code {
  color: #BDAE9D;
}
.code-skin-4 .pre-code .note {
  color: #666;
}
/*公用表格样式public-table*/
.public-table {
  margin: 10px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
}
.public-table table {
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}
.public-table caption {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  border: 1px solid #aaa;
}
.public-table table,
.public-table td,
.public-table th {
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  color: #333;
}
.public-table th {
  background-color: #eee;
  padding: 10px;
}
.public-table td {
  padding: 5px;
}
.example-detail-show {
  padding: 30px 0;
}
.header-h3 {
  font-size: 28px;
  line-height: 40px;
  padding: 0px 10px;
}
/**最终页展示效果样式————分类展示**/
.detail-list {
  margin: 10px 0;
}
.detail-list-head {
  line-height: 100%;
  font-size: 40px;
  font-weight: bold;
  padding: 15px 10px;
  border: 1px solid #aaa;
  background-color: #efefef;
}
.detail-list-body {
  padding: 10px;
  margin: 0px;
  border: 1px solid #ccc;
}
.explain {
  line-height: 30px;
  font-size: 14px;
  color: #444;
}
hr[class*="line"] {
  border-width: 1px 0 0;
  border-color: #ccc;
  height: 0;
  margin: 10px 0 20px;
}
.dashed-line {
  border-style: dashed;
}
.dotted-line {
  border-style: dotted;
}
.solid-line {
  border-style: solid;
}
.explain h1 {
  font-size: 24px;
  margin: 5px 0;
}
.explain h2 {
  font-size: 22px;
  margin: 5px 0;
}
.explain h3 {
  font-size: 20px;
  margin: 5px 0;
}
.explain h4 {
  font-size: 18px;
  margin: 5px 0;
}
.explain h5 {
  font-size: 16px;
  margin: 5px 0;
}
.explain h6 {
  font-size: 14px;
  margin: 5px 0;
}
.explain ol > li {
  margin: 5px 0;
}
.explain ul.circle {
  list-style-type: circle;
}
.explain ul.square {
  list-style-type: square;
}
.explain ul.decimal {
  list-style-type: decimal;
}
.explain ul.decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}
.explain ul.lower-roman {
  list-style-type: lower-roman;
}
.explain ul.upper-roman {
  list-style-type: upper-roman;
}
.explain ul.lower-alpha {
  list-style-type: lower-alpha;
}
.explain ul.upper-alpha {
  list-style-type: upper-alpha;
}
.explain ul.lower-greek {
  list-style-type: lower-greek;
}
.explain ul.lower-latin {
  list-style-type: lower-latin;
}
.explain ul.upper-latin {
  list-style-type: upper-latin;
}
.explain p {
  text-indent: 2em;
}
.explain .f-red {
  color: #E5393B;
}

.explain .f-orange {
  color: #F0A02E;
}
.explain .f-blue {
  color: #2767C6;
}
.explain .f-green {
  color: #46862C;
}
.explain .f-purple {
  color: #AA40B9;
}
.explain .f-pink {
  color: #F258C4;
}