// css color
@css-bgColor:#3B9ADB;
@css-borderColor:darken(@css-bgColor, 3%);
@css-headColor:#fff;
@css-bodyColor:darken(@css-bgColor, 30%);
@css-bodyColorHover:lighten(@css-bgColor, 5%);
//css3
@css3-bgColor:#0070BA;
@css3-borderColor:darken(@css3-bgColor, 3%);
@css3-headColor:#fff;
@css3-bodyColor:darken(@css3-bgColor, 30%);
@css3-bodyColorHover:lighten(@css3-bgColor, 5%);
//sass
@sass-bgColor:#CC6699;
@sass-borderColor:darken(@sass-bgColor, 3%);
@sass-headColor:#fff;
@sass-bodyColor:darken(@sass-bgColor, 30%);
@sass-bodyColorHover:lighten(@sass-bgColor, 5%);
//bootstrap
@bootstrap-bgColor:#614789;
@bootstrap-borderColor:darken(@bootstrap-bgColor, 3%);
@bootstrap-headColor:#fff;
@bootstrap-bodyColor:darken(@bootstrap-bgColor, 30%);
@bootstrap-bodyColorHover:lighten(@bootstrap-bgColor, 5%);
//HTML5
@html5-bgColor:#F16528;
@html5-borderColor:darken(@html5-bgColor, 3%);
@html5-headColor:#fff;
@html5-bodyColor:darken(@html5-bgColor, 30%);
@html5-bodyColorHover:lighten(@html5-bgColor, 5%);
//HTML
@html-bgColor:#E45833;
@html-borderColor:darken(@html-bgColor, 3%);
@html-headColor:#fff;
@html-bodyColor:darken(@html-bgColor, 30%);
@html-bodyColorHover:lighten(@html-bgColor, 5%);
//XML
@xml-bgColor:#55BF91;
@xml-borderColor:darken(@xml-bgColor, 3%);
@xml-headColor:#fff;
@xml-bodyColor:darken(@xml-bgColor, 30%);
@xml-bodyColorHover:lighten(@xml-bgColor, 5%);
//less
@less-bgColor:#234575;
@less-borderColor:darken(@less-bgColor, 3%);
@less-headColor:#fff;
@less-bodyColor:darken(@less-bgColor, 30%);
@less-bodyColorHover:lighten(@less-bgColor, 5%);
//javascript
@javascript-bgColor:#F5C607;
@javascript-borderColor:darken(@javascript-bgColor, 3%);
@javascript-headColor:#fff;
@javascript-bodyColor:darken(@javascript-bgColor, 30%);
@javascript-bodyColorHover:lighten(@javascript-bgColor, 5%);
//jquery
@jquery-bgColor:#0868AC;
@jquery-borderColor:darken(@jquery-bgColor, 3%);
@jquery-headColor:#fff;
@jquery-bodyColor:darken(@jquery-bgColor, 30%);
@jquery-bodyColorHover:lighten(@jquery-bgColor, 5%);
//IDE
@IDE-bgColor:#FF9800;
@IDE-borderColor:darken(@IDE-bgColor, 3%);
@IDE-headColor:#fff;
@IDE-bodyColor:darken(@IDE-bgColor, 30%);
@IDE-bodyColorHover:lighten(@IDE-bgColor, 5%);
.q {
    zoom: 1;
}
.q:after {
    content: "";
    display: table;
    clear: both;
}
.wrapper {
    padding: 10px 0;
    margin: 0 auto;
    /*overflow:hidden;*/
}
h1.big-title {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
/**面包屑样式**/
.crumbs {
    padding: 30px 10px 10px;
    font-size: 24px;
    border-bottom: 2px dashed #aaa;
    margin: 15px;
  a{
    text-decoration: none;
    color: #666;
  }
  em {
    font-style: normal;
    padding: 0 5px;
    font-size: 30px;
    line-height: 100%;
  }
  span {
    font-size: 30px;
    color: #444;
  }
}
.panel-color(@bgColor:black; @borderColor:black;  @headColor:black;  @bodyColor:black; @bodyColorHover:black) {
  border-color: @borderColor;
  dt.panel-heading {
    background-color: @bgColor;
    border-color: @bgColor;
    color: @headColor;
    a {
      color: @headColor;
    }
  }
  dd.panel-body {
    a {
      color: @bodyColor;
      &:hover {
        color: @bodyColorHover;
      }
    }
  }
}

/**学习列表样式**/
dl.panel{
    border-radius: 10px;
    border-width: 3px;
    border-style:solid;
  dt.panel-heading {
    font-family: '隶书';
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    //text-transform: uppercase;
    a {
      text-decoration: none;
    }
    em {
      text-transform: none;
      font-style: normal;
    }
  }
  dd.panel-body {
    margin: 0 0 30px;
    padding: 20px 20px 5px;
    span {
      display: inline-block;
      padding: 0 10px 15px;
    }
    a {
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      font-family: "微软雅黑";
      -webkit-transition: color .2s ease-in;
      -moz-transition: color .2s ease-in;
      -o-transition: color .2s ease-in;
      transition: color .2s ease-in;
    }
  }
  &.css-panel {
    .panel-color(@bgColor:@css-bgColor;@borderColor:@css-borderColor;  @headColor:@css-headColor;  @bodyColor:@css-bodyColor; @bodyColorHover:@css-bodyColorHover);
  }
  &.css3-panel {
    .panel-color(@bgColor:@css3-bgColor;@borderColor:@css3-borderColor;  @headColor:@css3-headColor;  @bodyColor:@css3-bodyColor; @bodyColorHover:@css3-bodyColorHover);
  }
  &.sass-panel {
    .panel-color(@bgColor:@sass-bgColor;@borderColor:@sass-borderColor;  @headColor:@sass-headColor;  @bodyColor:@sass-bodyColor; @bodyColorHover:@sass-bodyColorHover);
  }
  &.bootstrap-panel {
    .panel-color(@bgColor:@bootstrap-bgColor;@borderColor:@bootstrap-borderColor;  @headColor:@bootstrap-headColor;  @bodyColor:@bootstrap-bodyColor; @bodyColorHover:@bootstrap-bodyColorHover);
  }
  &.less-panel {
    .panel-color(@bgColor:@less-bgColor;@borderColor:@less-borderColor;  @headColor:@less-headColor;  @bodyColor:@less-bodyColor; @bodyColorHover:@less-bodyColorHover);
  }
  &.html5-panel {
    .panel-color(@bgColor:@html5-bgColor;@borderColor:@html5-borderColor;  @headColor:@html5-headColor;  @bodyColor:@html5-bodyColor; @bodyColorHover:@html5-bodyColorHover);
  }
  &.xml-panel {
    .panel-color(@bgColor:@xml-bgColor;@borderColor:@xml-borderColor;  @headColor:@xml-headColor;  @bodyColor:@xml-bodyColor; @bodyColorHover:@xml-bodyColorHover);
  }
  &.html-panel {
    .panel-color(@bgColor:@html-bgColor;@borderColor:@html-borderColor;  @headColor:@html-headColor;  @bodyColor:@html-bodyColor; @bodyColorHover:@html-bodyColorHover);
  }
  &.jquery-panel {
    .panel-color(@bgColor:@jquery-bgColor;@borderColor:@jquery-borderColor;  @headColor:@jquery-headColor;  @bodyColor:@jquery-bodyColor; @bodyColorHover:@jquery-bodyColorHover);
  }
  &.javascript-panel {
    .panel-color(@bgColor:@javascript-bgColor;@borderColor:@javascript-borderColor;  @headColor:@javascript-headColor;  @bodyColor:@javascript-bodyColor; @bodyColorHover:@javascript-bodyColorHover);
  }
  &.IDE-panel {
    .panel-color(@bgColor:@IDE-bgColor;@borderColor:@IDE-borderColor;  @headColor:@IDE-headColor;  @bodyColor:@IDE-bodyColor; @bodyColorHover:@IDE-bodyColorHover);
  }
}

/**页面代码展示**/

.code-area {
    overflow: hidden;
    margin: 15px 5px;
}

.code-title {
    line-height: 30px;
    height: 30px;
    padding: 0px 10px;
}
.code-body {
    position: relative;
    overflow-y: auto;
}

.code-number {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
  li {
    font: bold 12px/30px Arial;
    height: 30px;
    width: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}


.code-body-inner {
    overflow-x: auto;
    padding: 0px;
  .pre-code {
    line-height: 30px;
    margin: 0 10px 0 0;
    padding: 0 0 20px 10px;
    font-family: "Courier New";
    border: 0px;
    font-size: 18px;
    background-color: transparent;
  }
  .note {
    font-style: italic;
  }
}
/**页面代码展示颜色 skin-1**/

.code-skin-1 {
    border: 1px solid #ccc;
}
.code-skin-1 .code-title {
    border-bottom: 2px solid #ccc;
    background-color: #ddd;
}
.code-skin-1 .code-number {
    border-right: 3px solid green;
    background-color: #eee;
}

.code-skin-1 .code-number li {
    color: #5091af;
}

.code-skin-1 .code-body-inner {
    background-color: #eee;
}

.code-skin-1 .pre-code {
    color: #333;
}

.code-skin-1 .pre-code .note {
    color: #aaa;
}


/**页面代码展示颜色 skin-2**/

.code-skin-2 {}

.code-skin-2 .code-title {
    border-bottom: 0px solid #1F83D8;
    background-color: #31322C;
    color: #C1C1BF;
}

.code-skin-2 .code-number {
    background-color: #272822;
}

.code-skin-2 .code-number li {
    color: #8F908A;
}

.code-skin-2 .code-body-inner {
    background-color: #49483E;
}

.code-skin-2 .pre-code {
    color: #DCDCCC;
}

.code-skin-2 .pre-code .note {
    color: #888;
}


/**页面代码展示颜色 skin-3**/

.code-skin-3 {
    border: 1px solid #26435C;
}

.code-skin-3 .code-title {
    border-bottom: 0px solid #26435C;
    background-color: #33424F;
    color: #B6BFB0;
}

.code-skin-3 .code-number {
    background-color: #002240;
    border-right: 2px solid #26435C;
}

.code-skin-3 .code-number li {
    color: #7F909F;
}

.code-skin-3 .code-body-inner {
    background-color: #002240;
}

.code-skin-3 .pre-code {
    color: #9DF39F;
}

.code-skin-3 .pre-code .note {
    color: #555;
}

/**页面代码展示颜色 skin-4**/

.code-skin-4 {
    border: 1px solid #342C28;
}

.code-skin-4 .code-title {
    border-bottom: 0px solid #26435C;
    background-color: #45413F;
    color: #B9BFBE;
}

.code-skin-4 .code-number {
    background-color: #2A211C;
    border-right: 2px solid #40362F;
}

.code-skin-4 .code-number li {
    color: #73685C;
}

.code-skin-4 .code-body-inner {
    background-color: #3A312C;
}

.code-skin-4 .pre-code {
    color: #BDAE9D;
}

.code-skin-4 .pre-code .note {
    color: #666;
}


/*公用表格样式public-table*/

.public-table {
    margin: 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
}

.public-table table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

.public-table caption {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid #aaa;
}

.public-table table,
.public-table td,
.public-table th {
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    color: #333;
}

.public-table th {
    background-color: #eee;
    padding: 10px;
}

.public-table td {
    padding: 5px;
}

.example-show {}

.example-detail-show {
    padding: 30px 0;
}

.header-h3 {
    font-size: 28px;
    line-height: 40px;
    padding: 0px 10px;
}


/**最终页展示效果样式————分类展示**/

.detail-list {
    margin: 10px 0;
}

.detail-list-head {
    line-height: 100%;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 10px;
    border: 1px solid #aaa;
    background-color: #efefef;
}

.detail-list-body {
    padding: 10px;
    margin: 0px;
    border: 1px solid #ccc;
}

.explain {
    line-height: 30px;
    font-size: 14px;
    color: #444;
}

hr[class*="line"]{
  border-width: 1px 0 0;
  border-color: #ccc;
  height: 0;
  margin: 10px 0 20px;
}
.dashed-line {
    border-style: dashed;
}

.dotted-line {
    border-style: dotted;
}

.solid-line {
    border-style: solid;
}

.explain h1 {
    font-size: 24px;
    margin: 5px 0;
}

.explain h2 {
    font-size: 22px;
    margin: 5px 0;
}

.explain h3 {
    font-size: 20px;
    margin: 5px 0;
}

.explain h4 {
    font-size: 18px;
    margin: 5px 0;
}

.explain h5 {
    font-size: 16px;
    margin: 5px 0;
}

.explain h6 {
    font-size: 14px;
    margin: 5px 0;
}

.explain ol>li {
    margin: 5px 0;
}

.explain ul.circle {
    list-style-type: circle;
}

.explain ul.square {
    list-style-type: square;
}

.explain ul.decimal {
    list-style-type: decimal;
}

.explain ul.decimal-leading-zero {
    list-style-type: decimal-leading-zero;
}

.explain ul.lower-roman {
    list-style-type: lower-roman;
}

.explain ul.upper-roman {
    list-style-type: upper-roman;
}

.explain ul.lower-alpha {
    list-style-type: lower-alpha;
}

.explain ul.upper-alpha {
    list-style-type: upper-alpha;
}

.explain ul.lower-greek {
    list-style-type: lower-greek;
}

.explain ul.lower-latin {
    list-style-type: lower-latin;
}

.explain ul.upper-latin {
    list-style-type: upper-latin;
}

.explain p {
    text-indent: 2em;
}

.explain .f-red {
    color: #E5393B;
}

.explain .f-orange {
    color: #F0A02E;
}

.explain .f-blue {
    color: #2767C6;
}

.explain .f-green {
    color: #46862C;
}

.explain .f-purple {
    color: #AA40B9;
}

.explain .f-pink {
    color: #F258C4;
}