@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-83a6gg");
  src: url("fonts/icomoon.eot?#iefix-83a6gg") format("embedded-opentype"), url("fonts/icomoon.ttf?-83a6gg") format("truetype"), url("fonts/icomoon.woff?-83a6gg") format("woff"), url("fonts/icomoon.svg?-83a6gg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], .toolbar-item .btn, [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before, .toolbar-item-weixin .btn:before {
  content: "\e600";
}

.icon-chat-3:before, .toolbar-item-feedback .btn:before {
  content: "\e601";
}

.icon-mobile:before, .toolbar-item-app .btn:before {
  content: "\e602";
}

.icon-arrow-up2:before, .toolbar-item-backtop .btn:before {
  content: "\e603";
}

.toolbar {
  position: fixed;
  right: 52px;
  bottom: 10px;
}

.toolbar-item {
  margin-bottom: 5px;
  display: block;
  position: relative;
}
.toolbar-item, .toolbar-item .btn, .toolbar-item .btn:after, .toolbar-item .btn:before {
  width: 52px;
  height: 52px;
}
.toolbar-item:after, .toolbar-item .btn, .toolbar-item .btn:after, .toolbar-item .btn:before {
  position: absolute;
}
.toolbar-item:after, .toolbar-item .btn:after, .toolbar-item .btn:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.toolbar-item:after {
  content: "";
  right: 46px;
  bottom: 0px;
  width: 172px;
  background-image: url(../image/toolbar_img.png);
  background-repeat: no-repeat;
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  filter: alpha(opacity=0);
}
.toolbar-item .btn {
  overflow: hidden;
  top: 0;
}
.toolbar-item .btn, .toolbar-item .btn:after, .toolbar-item .btn:before {
  left: 0;
  color: #fff;
  text-align: center;
}
.toolbar-item .btn:before {
  background-color: #d0d6d9;
  top: 0;
  font-size: 30px;
  line-height: 52px;
}
.toolbar-item .btn:after {
  background-color: #98a1a6;
  top: 52px;
  font-size: 12px;
  padding-top: 10px;
  line-height: 1.5;
  white-space: pre;
}
.toolbar-item:hover .btn:before {
  top: -52px;
}
.toolbar-item:hover .btn:after {
  top: 0;
}
.toolbar-item:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.toolbar-item-feedback .btn:after {
  content: "意见\A反馈";
}

.toolbar-item-weixin:after {
  height: 220px;
  background-position: 0 0;
}
.toolbar-item-weixin .btn:after {
  content: "公众\A账号";
}

.toolbar-item-app:after {
  height: 194px;
  background-position: 0 -222px;
}
.toolbar-item-app .btn:after {
  content: "app\A下载";
}

.toolbar-item-backtop .btn:after {
  content: "返回\A顶部";
}

/*# sourceMappingURL=index.css.map */
